@media (max-width: 1199px){
    .header {
        .top-ads {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        .header-top {
            .welcome {
                display: none;
            }
            .user-tool {
                .logo-area {
                    float: left;
                    display: block;
                }         
            }
        }
        .header-mid {
            
        }
    }
}