@charset "utf-8";
a,
a:hover {
    color: #333;
    text-decoration: none
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
img,
menu,
nav,
section {
    display: block
}
a,
article,
aside,
body,
button,
dd,
details,
div,
dl,
dt,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
img,
input,
li,
menu,
nav,
ol,
p,
section,
select,
table,
tbody,
td,
textarea,
th,
tr,
ul {
    margin: 0;
    padding: 0;
    border: none
}
body,
html {
    width: 100%;
}
em,
i {
    font-style: normal
}
.clearfix:after {
    content: "";
    display: block;
    overflow: hidden;
    visibility: hidden;
    height: 0;
    clear: both
}
li,
ol,
ul {
    list-style: none
}